.background {
  viewport-fill: black;
}

.time {
  x: 100%-10;
  y: 50;
  height: 60;
  width: 60%;
  text-anchor: end;
  text-length: 5;
  fill: white;
  font-size: 60;
  font-family: System-Bold;
}

.date {
  x: 100%-15;
  y: 70;
  text-anchor: end;
  text-length: 10;
  fill: white;
  font-size: 20;
  font-family: System-Regular;
}

.battery-icon {
  x: 11;
  y: 11;
  height: 16;
  width: 50;
  fill: white;
}

.battery {
  x: 12;
  y: 50;
  text-anchor: start;
  text-length: 10;
  fill: white;
  font-size: 20;
  font-family: Colfax-Light;
}

.active-minutes-container {
  x: 10;
  y: 100;
}

.active-minutes-icon {
  width: 24;
  height: 24;
  fill: red;
  opacity: 1;
}

.active-minutes {
  x: 30;
  y: 20;
  text-anchor: start;
  text-length: 10;
  fill: white;
  font-size: 20;
  font-family: SevilleSharp-Book;
}

.calories-container {
  x: 10;
  y: 130;
}

.calories-icon {
  width: 24;
  height: 24;
  fill: orange;
  opacity: 1;
}

.calories {
  x: 30;
  y: 20;
  text-anchor: start;
  text-length: 10;
  fill: white;
  font-size: 20;
  font-family: SevilleSharp-Book;
}

.elevation-gain-container {
  x: 10;
  y: 160;
}

.elevation-gain-icon {
  width: 24;
  height: 24;
  fill: yellow;
  opacity: 1;
}

.elevation-gain {
  x: 30;
  y: 20;
  text-anchor: start;
  text-length: 10;
  fill: white;
  font-size: 20;
  font-family: SevilleSharp-Book;
}

.steps-container {
  x: 10;
  y: 190;
}

.steps-icon {
  width: 24;
  height: 24;
  fill: purple;
  opacity: 1;
}

.steps {
  x: 30;
  y: 20;
  text-anchor: start;
  text-length: 10;
  fill: white;
  font-size: 20;
  font-family: SevilleSharp-Book;
}

.distance-container {
  x: 10;
  y: 220;
}

.distance-icon {
  width: 24;
  height: 24;
  fill: blue;
  opacity: 1;
}

.distance {
  x: 30;
  y: 20;
  text-anchor: start;
  text-length: 10;
  fill: white;
  font-size: 20;
  font-family: SevilleSharp-Book;
}
