.time {
  height: 80;
  width: 100%;
  text-length: 5;
  fill: white;
  font-size: 85;
  font-family: SevilleSharp-Bold;
}

.date {
  text-anchor: start;
  text-length: 10;
  fill: white;
  font-size: 38;
  font-family: System-Bold;
}

.battery {
  x: 12;
  y: 50;
  text-anchor: start;
  text-length: 10;
  fill: white;
  font-size: 20;
  font-family: Colfax-Medium;
}

.stats-label {
  x: 50;
  y: 22;
  text-anchor: start;
  text-length: 99;
  fill: white;
  font-size: 24;
  font-family: Seville-Bold-Condensed;
}
