.background {
  viewport-fill: black;
}

.time {
  x: 100%-10;
  y: 50;
  height: 60;
  width: 60%;
  text-anchor: end;
  text-length: 5;
  fill: white;
  font-size: 60;
  font-family: System-Bold;
}

.date {
  x: 100%-15;
  y: 70;
  text-anchor: end;
  text-length: 10;
  fill: white;
  font-size: 20;
  font-family: System-Regular;
}

.battery-icon {
  x: 11;
  y: 11;
  height: 16;
  width: 50;
  fill: white;
}

.battery {
  x: 12;
  y: 50;
  text-anchor: start;
  text-length: 10;
  fill: white;
  font-size: 20;
  font-family: Colfax-Light;
}

.stats-container {
  y: 40%;
}

.stats-group {
  width: 50%-28;
  height: 100%;
  x: $+20;
}

.stats-item-container {
  y: $+10;
  height: 50;
}

.stats-icon {
  x: 3;
  y: 3;
  width: 24;
  height: 24;
  opacity: 1;
}

.stats-label {
  x: 50;
  y: 20;
  text-anchor: start;
  text-length: 99;
  fill: white;
  font-size: 20;
  font-family: Seville-Bold-Condensed;
}

.stats-progress {
  x: -10;
  y: -10;
  width: 50;
  height: 50;
  opacity: 0.3;
  fill: red;
}

.active-minutes { fill: red; }

.calories { fill: orange; }

.elevation-gain { fill: yellow; }

.steps { fill: purple; }

.distance { fill: blue; }

.heart-rate { fill: magenta; }
